@page "/tea/{TeaId:int}"

@using GestThéLib.Data.Database

@inject DatabaseContext DatabaseContext
@inject NavigationManager NavigationManager
@inject DialogService DialogService

<div class="flex justify-between">
    <div>
        <RadzenText TextStyle="TextStyle.H6">Détail @(Tea.TeaName)</RadzenText>
    </div>
    <div>
        <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1 mx-2" 
                Click=@(async args => await DialogService.OpenSideAsync<TeaModify>("Modifier un thé",new Dictionary<string, object>() { { "TeaId", (Int32)Tea.IdTea } }, options: new SideDialogOptions { CloseDialogOnOverlayClick = true, Position = DialogPosition.Right, ShowMask = true, Width = "40%"})) @onclick:stopPropagation="true"></RadzenButton>
                        
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="keyboard_return" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1"
                      Click="@((args) => ReturnToHome())" @onclick:stopPropagation="true">
        </RadzenButton>
    </div>
    
</div>

<div class="my-12 flex justify-center">
    <RadzenStack Orientation="Orientation.Vertical" Gap="30px" JustifyContent="JustifyContent.SpaceBetween" Style="width: 500px;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <div>
                <RadzenText TextStyle="TextStyle.H6">Variété</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Tea.IdVarietyNavigation.VarietyName</RadzenText>
            </div>
            <div>
                <RadzenText TextStyle="TextStyle.H6">Type</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Tea.IdTypeNavigation.TypeName</RadzenText>
            </div>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <div>
                <RadzenText TextStyle="TextStyle.H6">Fournisseur</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Tea.IdProviderNavigation.ProviderName</RadzenText>
            </div>
            <div>
                <RadzenText TextStyle="TextStyle.H6">Année</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.End">@Tea.TeaYear</RadzenText>
            </div>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <div>
                <RadzenText TextStyle="TextStyle.H6">Pays</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Tea.IdRegionNavigation.IdCountryNavigation.CountryName</RadzenText>
            </div>
            <div>
                <RadzenText TextStyle="TextStyle.H6">Région</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.End">@Tea.IdRegionNavigation.RegionName</RadzenText>
            </div>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <div>
                <RadzenText TextStyle="TextStyle.H6">Prix (100g)</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@($"{Tea.TeaPrice}.-")</RadzenText>
            </div>
            <div>
                <RadzenText TextStyle="TextStyle.H6">Quantité</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center">@($"{Tea.TeaQuantity}g")</RadzenText>
            </div>
            <div>
                <RadzenText TextStyle="TextStyle.H6">Total</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.End">@($"{Tea.TeaPrice*Tea.TeaQuantity/100}.-")</RadzenText>
            </div>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <div>
                <RadzenText TextStyle="TextStyle.H6">Description</RadzenText>
                @if (String.IsNullOrWhiteSpace(Tea.TeaDescription))
                {
                    <RadzenText TextStyle="TextStyle.Body1">/</RadzenText>
                }
                else
                {
                    <RadzenText TextStyle="TextStyle.Body1">@Tea.TeaDescription</RadzenText>
                }
            </div>
        </RadzenStack>
    </RadzenStack>
</div>