@page "/teaAdd"

@inject DatabaseContext DatabaseContext
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<RadzenTemplateForm Context="teaForm" class="flex flex-col gap-4 align-middle m-4" TItem="TTea" Data="@TeaToAdd" Submit="@HandleTeaAdd" >
    <DataAnnotationsValidator />
    <div class="flex flex-col">
        <RadzenLabel for="teaName">Nom *</RadzenLabel>
        <RadzenTextBox type="text" Name="teaName" id="teaName" @bind-Value="TeaToAdd.TeaName" />
        <div class="flex justify-end">
            <RadzenRequiredValidator Component="teaName" Text="Le nom du thé est requis" Popup="false" />
            <RadzenLengthValidator Component="teaName" Max="50" Text="Le nom du thé ne peut pas faire plus de 50 charactères" />
        </div>
    </div>
    <div class="flex flex-col">
        <RadzenLabel for="teaVariety">Variété *</RadzenLabel>
        <RadzenDropDown TValue="TVariety" @bind-Value="TeaToAdd.IdVarietyNavigation" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Variété..." 
                        AllowClear="false" AllowFiltering="true" Data="@(DatabaseContext.TVarieties)" TextProperty="VarietyName"/>
    </div>
    <div class="flex flex-col">
        <RadzenLabel for="teaType">Type *</RadzenLabel>
        <RadzenDropDown TValue="TType" @bind-Value="TeaToAdd.IdTypeNavigation" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Type..." 
                        AllowClear="false" AllowFiltering="true" Data="@(DatabaseContext.TTypes)" TextProperty="TypeName"/>
    </div>
    <div class="flex flex-col">
        <RadzenLabel  for="teaVariety">Provenance *</RadzenLabel>
        <RadzenDropDown TValue="TRegion" @bind-Value="TeaToAdd.IdRegionNavigation" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Provenance..." 
                        AllowClear="false" AllowFiltering="false" 
                        Data="@(DatabaseContext.TRegions.Include(x => x.IdCountryNavigation))">
            <Template>
                @(String.IsNullOrWhiteSpace(context.RegionName) ? $"{context.IdCountryNavigation.CountryName}" : $"{context.IdCountryNavigation.CountryName} / {context.RegionName}")
            </Template>
        </RadzenDropDown>
    </div>
    <div class="flex flex-col">
        <RadzenLabel  for="teaProvider">Fournisseur *</RadzenLabel>
        <RadzenDropDown TValue="TProvider" @bind-Value="TeaToAdd.IdProviderNavigation" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Fournisseur..." 
                        AllowClear="false" AllowFiltering="true" Data="@(DatabaseContext.TProviders)" TextProperty="ProviderName"/>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-col w-1/4">
            <RadzenLabel for="teaYear">Année</RadzenLabel>
            <RadzenDropDown TValue="long?" @bind-Value="TeaToAdd.TeaYear" Placeholder="Année..." 
                            AllowClear="false" AllowFiltering="false" Data="@(LastYears)"/>
                
        </div>
        <div class="flex flex-col w-2/5">
            <RadzenLabel for="teaPrice">Prix</RadzenLabel>
            <RadzenNumeric TValue="double?" Step="0.05" Min=0 Max=1000 Format="c" @bind-Value=@TeaToAdd.TeaPrice />
        </div>
        <div class="flex flex-col w-2/5">
            <RadzenLabel for="teaQuantity">Quantité</RadzenLabel>
            <RadzenNumeric TValue="long?" Format="### g" @bind-Value=@TeaToAdd.TeaQuantity Min=0 Max=1000000 />
        </div>
    </div>
    <div class="flex flex-col">
        <RadzenLabel for="teaDescription">Description</RadzenLabel>
        <RadzenTextArea Name="teaDescription" id="teaDescription" Rows="3" @bind-Value="TeaToAdd.TeaDescription" />
    </div>
    <div class="flex justify-between">
        <div>
            <RadzenCheckBox @bind-Value="TeaToAdd.TeaIsArchived" Name="archivedCheckbox" TValue="bool?"/>
            <RadzenLabel Text="Archivé ?" Component="archivedCheckbox" Style="margin-left: 8px; vertical-align: middle;"/>
        </div>
        <RadzenButton type="submit">Valider</RadzenButton>
    </div>
    <div class="flex justify-end">
        <RadzenText TextStyle="TextStyle.Overline">* Champs obligatoire</RadzenText>
    </div>
</RadzenTemplateForm>     